<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/partials/contact-us.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>

  <body>
    <main>
      <section class="Contact-us-section section">
        <!-- Contact us container -->
        <div class="Contact-us-container container">
          <!-- Contact us page -->
          <div class="contact-us-page">
            <!-- Send message-column -->
            <div class="contact-us-send-msg">
              <div class="contact-us-send-msg-heading">
                Send us a message
              </div>
              <!-- Contact us form -->
              <div class="contact-us-message-form">
                <input type="text" placeholder="Name" required="True" class="contact-us-message-form-Name contact-us-message-form-option">
                <input type="email" placeholder="Email" required="True" class="contact-us-message-form-Email contact-us-message-form-option">
                <input type="text" placeholder="Subject" required="True" class="contact-us-message-form-Subject contact-us-message-form-option">
                <textarea name="message" placeholder="Message" required="True" class="contact-us-message-form-option contact-us-message-form-Message " cols="20" rows="4" ></textarea>

                <div >
                  <input type="submit" value="Send Message" class="contact-us-message-form-button">
  
                </div>
                 

              </div>
              
            </div>
            <!-- Contact deatails-column -->
            <div class="contact-us-details">
              <div class="contact-us-details-heading">
                <!-- heading -->
                <div class="contact-us-details-main-heading">
                  Contact us
                </div>
                <!-- sub-heading -->
                <div class="contact-us-details-sub-heading">
                  We're open for any suggestion or just to have a chat
                </div>
                <!-- Adress info -->
                <div class="contact-us-details-address contact-us-details-info"> 
                  <div class="contact-us-details-social-icons">
                    <i class="fa-solid fa-location-dot fa-lg"></i>
                  </div>
                  <div class="contact-us-details-topic-address contact-us-details-topic ">
                    <div class="contact-us-details-topic-head-address contact-us-details-topic-head">
                      Address:
                    </div>
                  
                      198 West 21th Street, Suite 721 New York NY 10016
                    
                  </div>
                </div>
                <!-- Phone info -->
                <div class="contact-us-details-phone contact-us-details-info">
                  <div class="contact-us-details-social-icons">
                    <i class="fa-solid fa-phone fa-lg"></i>
                  </div>
                  <div class="contact-us-details-topic">
                    <div class="contact-us-details-topic-head">
                      Phone:
                    </div>
                    <div class="contact-us-details-topic-value">
                      1234567890
                    </div>
                  </div>
                </div>
                <!-- Email info -->
                <div class="contact-us-details-email contact-us-details-info">
                  <div class="contact-us-details-social-icons">
                    <i class="fa-solid fa-envelope fa-lg"></i>
                  </div>
                  <div class="contact-us-details-topic">
                    <div class="contact-us-details-topic-head">
                      Email:
                    </div>
                    <div class="contact-us-details-topic-value">
                      abc123@gmail.com
                    </div>
                  </div>
                </div>
                <!-- Website info -->
                <div class="contact-us-details-website contact-us-details-info">
                  <div class="contact-us-details-social-icons">
                    <i class="fa-solid fa-globe fa-lg"></i>
                  </div>
                  <div class="contact-us-details-topic">
                    <div class="contact-us-details-topic-head">
                      Website:
                    </div>
                    <div class="contact-us-details-topic-value">
                      www.abc123.com
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>



