<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/partials/counselling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>

    <section class="section get-counselling-section">
        
        <div class="container get-counselling-container">
            <div class="counselling-body">
                <div class="counselling-title-large">
                    <h1> Solve your doubts <span class="counselling-title-codeaon">with Codeaon</span>  </h1>
                </div>
                <br>
                <div class="counselling-row">
                    <div class="counselling-text-container">
                        <div class="counselling-title-small">
                            <h1>World-class Counselling</h1>
                        </div>
                        <br>
                        <p class="counselling-text">Get a promotion, a raise, or switch careers. Of our learners, 89% report career
                            benefits.
                        </p>
                        <p class="counselling-text">Take the next step toward your personal and professional goals with Codeaon. Join
                            to receive personalized recommendations from the full Codeaon catalog.</p>
                            <br>
                            <div class="counselling-button-container">
                                <button class="counselling-button">Get Counseling</button>
                            </div>
                    </div>
                    <div class="counselling-img-container">
                        <img class="counselling-img" src="../../static/assets/counselling-img.jpg" alt=" error">

                    </div>
                </div>
            </div>
            
        </div>
    </section>

</body>

</html>