<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/partials/main.css" />
    <link rel="stylesheet" href="../../static/styles/partials/feature.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Document</title>
  </head>
  <body>
    <section class="section feature-section">
      <div class="container feature-container">
        <div class="section-title">
          <h2 class="section-heading">
            Features That
            <span class="feature-heading"> &nbsp;Can Avail By Everyone </span>
          </h2>
          <p class="section-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            laudantium sint tenetur earum non veritatis itaque rem minus. Rerum,
            illum. Dicta deleniti odit voluptate libero? Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Aperiam laudantium sint tenetur
            earum non veritatis itaque rem minus. Rerum, illum. Dicta deleniti
            odit voluptate libero?
          </p>
        </div>
        <div class="feature-row">
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-key"></i>
            </div>
            <div class="feature-card-header">
              <h1>Lifetime Access</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-copy"></i>
            </div>
            <div class="feature-card-header">
              <h1>Source File Included</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-medal"></i>
            </div>
            <div class="feature-card-header">
              <h1>Student Membership</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="feature-card-header">
              <h1>35000+ Courses</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-crown"></i>
            </div>
            <div class="feature-card-header">
              <h1>Expert Mentors</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-card-logo">
              <i class="fa-solid fa-headset"></i>
            </div>
            <div class="feature-card-header">
              <h1>Live Supports</h1>
            </div>
            <div class="feature-card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus adipisci vel sequi error quas, voluptate minima
                laboriosam suscipit delectus aliquam!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
