<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../static/styles/main.css" />
    <link rel="stylesheet" href="../../static/styles/partials/footer.css" />
    <script defer src="https://kit.fontawesome.com/90effeaa2f.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
  </head>
  <body>
     <footer class="section footer-section">
        
        <div class="container footer-container">
            <img src="../../static/assets/footerwave.PNG" class="footer-wave" alt="wave">
            <div class="footer-top">
           
        <div class="footer-column">
            <h2 class="footer-heading">Top Products</h2>
                <ul>
                    
                    <li><a href="#">Managed Website</a></li>
                    <li><a href="#">Manage Reputation</a></li>
                    <li><a href="#">Power Tools</a></li>
                    <li><a href="#">Marketing Service</a></li>
                </ul>
         </div>
            
         
            <div class="footer-column">
                <h2 class="footer-heading">Quick Links</h2>
                    <ul>
                        
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>

                    </ul>
            </div>


         <div class="footer-column">
            <h2 class="footer-heading">Features</h2>
             <ul>
                
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Brand Assets</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Terms of Service</a></li>
                

             </ul>
         </div>


         <div class="footer-column">
            <h2 class="footer-heading">Resources</h2>
            <ul>
                
                <li><a href="#">Guides</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Experts</a></li>
                <li><a href="#">Agencies</a></li>
                
                

             </ul>
         
         </div>

         </div>
          <div class="footer-copyright-container" >
        <div class="footer-copyright">
            <div class="footer-left-text">
                <p>Copyright ©2022 All rights reserved</p>
            </div>
            <div class="footer-icons">
                <a href="#" class="footer-social-icon">
                    <i class="fa-brands fa-facebook-f">
                        
                    </i>
                    
                </a>
                <a href="#" class="footer-social-icon">
                    <i class="fa-brands fa-twitter"></i>
                    
                </a>
                <a href="#" class="footer-social-icon">
                    <i class="fa-solid fa-basketball">
                        
                    </i>
                    
                </a>
                <a href="#" class="footer-social-icon">
                    <i class="fa-brands fa-behance"></i>
                        
                    </i>
                    
                </a>
               
            </div>
           
        </div>
        
    </div>
    </div>
    </footer> 
    
  </body>
</html>