<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="../../static/styles/main.css">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <header class="container navbar-container">
        <nav class="navbar-codeaon" id="navbar">

            <h2 class="codeaon-nav-heading">Codeaon</h2>
            <div class="codeaon-navbar-right">
                <ul class="codeaon-nav-list-items">

                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/tutorials">TUTORIALS</a></li>
                    <li><a href="/blogs">BLOGS</a></li>
                    <li><a href="/contactUs">CONTACT</a></li>

                </ul>
                <a href="/user/signup">
                    <button class="codeaon-navbar-btn">
                        Sign Up <i class="fas fa-arrow-right"></i></button>
                </a>
            </div>


        </nav>

    </header>
</body>

</html>