<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href=".static/style/main.css">
    <link rel="stylesheet" href="../../static/styles/partials/newsletter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>

<body>
    <section class="newsletter-section section">
        <div class="container newsletter-container">
            <h3>Subscribe For Latest Updates</h3>
            
            <p>
                <br>

                Subscribe to our newsletter, join us in believing that learning is a lifelong process of keeping abreast
                of change.

            </p>



            <form action="" class="newsletter-form">
                <br>
                <input class="newsletter-email" type="email" name="" id="" placeholder="Enter Your Email">
                <input class="newsletter-submit" type="submit" value="Subscribe">

            </form>
        </div>
    </section>

</body>

</html>