@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: var(--ff-regular);
}

:root {
  --clr-main-bg: #fff;
  --clr-text: #000;
  --clr-medium-light: #686868;
  --clr-accent-light: #9900f8;
  --clr-accent: #7d00c9;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --ff-header: "Playfair Display", serif;
  --ff-regular: "Roboto ", sans-serif;

  --fs-hero-header: 48px;
  --fs-header: 42px;
  --fs-sub-header: 22px;
  --fs-para: 18px;
  --fs-regular: 14px;
  --fs-icon: 36px;
  --fs-small-icon: 24px;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

.footer-container {
  background-color: #170f3e;
  padding-bottom: 40px;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 40px;
}

.footer-column {
  padding: 0px 15px;
}

.footer-column ul li {
  list-style: none;
  margin: 0 3px 15px;
}

.footer-column ul li a {
  color: #8b8bb2;
  font-style: var(--ff-regular);
  font-size: var(--fs-regular);
  list-style-type: none;

  text-decoration: none;
}

.footer-column ul li a:hover {
  color: white;
}

.footer-heading {
  margin: 0 0 35px 1px;
  font-family: var(--ff-header);
  font-size: var(--fs-sub-header);
  color: white;
  font-weight: var(--fw-bolder);
}

.footer-copyright-container {
  display: flex;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 55px;
  margin-top: 70px;
  width: 72%;
}

.footer-social-icon {
  margin: 0 0 0 5px;
  padding: 10px;
  text-align: center;
  background-color: #363a4b;
  text-decoration: none;
  color: white;
}

.footer-social-icon:hover {
  background: rgb(100, 43, 233);
  background: linear-gradient(90deg,
      rgba(100, 43, 233, 1) 0%,
      rgba(221, 27, 231, 1) 100%);
}

.footer-wave {
  width: 100%;
  margin: 0;
}

.footer-left-text p {
  color: white;
}

.footer-icons {
  display: flex;
  align-items: center;
}