<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../static/styles/main.css" />
  <link rel="stylesheet" href="../../../static/styles/partials/blog/blog-showcase.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

  <title>Document</title>
</head>

<body>
  <section class="section blog-showcase-section">
    <div class="container blog-showcase-container">
      <div class="blog-img-details">
        <div class="blog1-img">
          <img class="blog1-image" src="../../../static/assets/blog1.jpg" />
        </div>

        <div class="blog-post-info">
          <span class="blog-post-info-small">
            <i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<a href="#">Admin</a>
          </span>

          <span class="blog-post-info-small"><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<a href="#">July
              20, 2022</a></span>
          <span class="blog-post-info-small"><a href="#">2 Comments</a></span>
        </div>
      </div>

      <div class="blog-post-title">
        <a href="#" class="blog-post-heading">PROGRAM THE RASPBERRY PI FOR SMART MIRROR</a>
        <p class="blog-post-details">
          The software part of this project is a bit command line intensive.
          The steps below are need to be followed in the same manner as
          mentioned below for making it bug free . Installing Raspbian Jessie
          Download Etcher and install it to your computer. It...
        </p>
        <a href="#" class="blog-readmore-btn">Read More
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>
</body>

</html>