<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/styles/main.css" />
    <link
      rel="stylesheet"
      href="../../../static/styles/partials/blog/blog-feature.css"
    />
  </head>
  <body>
    <div class="cards-container">
      <div class="blog-cards">
        <div class="blog-image">
          <img src="../../../static/assets/tech_img.jpg" alt="" />
        </div>
        <div class="blog-text">
          <div class="blog-text-title">
            10 Best Free AWS Courses for Beginners
          </div>
          <div class="blog-text-para">
            <p class="para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, maiores corrupti? Ad ipsam ducimus tempore
              explicabo illo nesciunt aut vitae.
            </p>
          </div>

          <div class="blog-button">
            <button class="blog-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="blog-cards">
        <div class="blog-image">
          <img src="../../../static/assets/tech_img.jpg" alt="" />
        </div>
        <div class="blog-text">
          <div class="blog-text-title">
            10 Best Free AWS Courses for Beginners
          </div>
          <div class="blog-text-para">
            <p class="para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, maiores corrupti? Ad ipsam ducimus tempore
              explicabo illo nesciunt aut vitae.
            </p>
          </div>

          <div class="blog-button">
            <button class="blog-btn">Read More</button>
          </div>
        </div>
      </div>

      <div class="blog-cards">
        <div class="blog-image">
          <img src="../../../static/assets/tech_img.jpg" alt="" />
        </div>
        <div class="blog-text">
          <div class="blog-text-title">
            10 Best Free AWS Courses for Beginners
          </div>
          <div class="blog-text-para">
            <p class="para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, maiores corrupti? Ad ipsam ducimus tempore
              explicabo illo nesciunt aut vitae.
            </p>
          </div>

          <div class="blog-button">
            <button class="blog-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
