<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/styles/main.css">
    <link rel="stylesheet" href="../../../static/styles/partials/blog/blog-hero-section.css">
    <title>Document</title>
</head>
<body>
    <section class="section blog-hero-section">
        <div class="containter blog-hero-container">
            <div class="blog-hero-heading">
                <h3 class="blog-hero-first-line">Let's explore</h3>
                <p class="blog-hero-second-line">and</p>
                <h2 class="blog-hero-third-line">Master the Art of Coding</h2>
                <button class="blog-hero-btn"><span class="blog-hero-explore">Explore</span></button>
            </div>
        </div>
    </section>
</body>
</html>