<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/styles/main.css">
    <link rel="stylesheet" href="../../../static/styles/partials/blog/blog-showcase-sidebar.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <title>Document</title>
</head>
<body>
    <section class="section blog-showcase-sidebar-section">
        <div class="container blog-showcase-sidebar-container">
            <div class="blog-sidebar">
                <h2 class="blog-sidebar-heading">Category</h2>
                <div class="blog-sidebar-contents">
                    
                    <ul>
                        <li>
                            <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">SOFTWARE</a></div>
                            <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">TECHNOLOGY</a></div>
                            <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">E-BOOKS</a></div>
                            <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">INNOVATIONS</a></div>
                            <div class="blog-sidebar-btn" data-aos="fade-left"><a href="#">VIDEOS</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>