<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Codeaon | User SignUp</title>
</head>

<body>
    <section class="section signup-section">
        <div class="container-signup-container">
            <div class="signup-container">
                <div class="screen">
                    <div class="screen__content">
                        <form class="signup">
                            <div class="signup__field">
                                <i class="fa-solid fa-address-card"></i>
                                <input type="text" class="signup__input-name" placeholder="First Name">
                            </div>
                            <div class="signup__field">
                                <i class="fa-solid fa-address-card"></i>
                                <input type="text" class="signup__input-name" placeholder="Last Name">

                            </div>
                            <div class="signup__field">
                                <i class="login__icon fas fa-user"></i>
                                <input type="text" class="signup__input-user" placeholder=" Email">
                            </div>
                            <div class="signup__field">
                                <i class="login__icon fas fa-lock"></i>
                                <input type="password" class="signup__input-user" placeholder=" Password">
                            </div>
                            <div class="button-signup__submit">
                                <input type="submit" class="signup__submit" value="Sign Up">
                            </div>
                            <div class="new-user">


                                <br>
                                <p>Have an Account?</p>
                                <a href="/login">Login</a>

                            </div>

                        </form>

                    </div>
                    <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>