* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --clr-main-bg: #fff;
  --clr-text: #000;
  --clr-medium-light: #686868;
  --clr-accent-light: #9900f8;
  --clr-accent: #7d00c9;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --ff-header: "Playfair Display", serif;
  --ff-regular: "Roboto ", sans-serif;

  --fs-hero-header: 48px;
  --fs-header: 42px;
  --fs-sub-header: 22px;
  --fs-para: 18px;
  --fs-regular: 14px;
  --fs-icon: 36px;
  --fs-small-icon: 24px;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}
.cards-container {
  display: flex;
}
.blog-cards {
  width: 27%;
  border-radius: 5px;
  margin: 50px;
  background-color: gainsboro;
  transition: 0.5s;
}
.blog-cards:hover {
  box-shadow: var(--clr-box-shadow);
  transform: translateY(-10px);
}
.blog-image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.blog-text-title {
  font-size: var(--fs-sub-header);
  font-weight: 500;
  padding: 4px;
  text-align: center;
}
.blog-text {
  padding: 10px;
}
.blog-text-para {
  padding: 8px 40px;
}
.para {
  text-align: left;
}
.blog-button {
  display: flex;
  justify-content: center;
}
.blog-btn {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: var(--clr-accent);
  padding: 7px 10px;
  color: var(--clr-main-bg);
  border-radius: 5px;
  cursor: pointer;
}
.blog-btn:hover {
  background-color: var(--clr-accent-light);
  transition: 0.5s;
}
