* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-regular);
}

:root {
  --clr-main-bg: #fff;
  --clr-text: #000;
  --clr-medium-light: #686868;
  --clr-accent-light: #9900f8;
  --clr-accent: #7d00c9;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --ff-header: "Playfair Display", serif;
  --ff-regular: "Roboto ", sans-serif;

  --fs-hero-header: 48px;
  --fs-header: 42px;
  --fs-sub-header: 22px;
  --fs-para: 18px;
  --fs-regular: 14px;
  --fs-icon: 36px;
  --fs-small-icon: 24px;

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;

  /* custom variables for contact-us */
  
  --fs-contact-head: 1.75rem;
  --fs-placeholder: 1.05;
  --primary-grad: #6f42c1;
  --secondary-grad: #5427cf;
  --clr-placeholder: rgb(203, 217, 222);
  --clr-bg-btn: #b845cb;
  --clr-contact-clm: #484c53;
  --icon-size: 2rem;


}



.contact-us-page {
  margin: 10% 15%;
  display: flex;
  box-shadow: 0 0 10px;
}

.contact-us-send-msg {
  width: 50%;
  padding-bottom: 2rem;
  background-image: linear-gradient(160deg, var(--primary-grad)50%, var(--secondary-grad));
}

.contact-us-details {
  width: 50%;
  background-color: #fff;
}

.contact-us-message-form {
  display: grid;
  margin: 2rem;
}

.contact-us-send-msg-heading {
  margin: 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-contact-head);
  color: var(--color-text);
  position: relative;
  font-family: var(--ff-header);
  padding-bottom: 0.75rem;
  color: var(--clr-main-bg);
}

.contact-us-message-form-option {
  margin: 1rem 0 0 0;
  background: none;
  height: 2rem;
  border: 0;
  border-bottom: 2px solid var(--clr-placeholder);

}

.contact-us-message-form-option::placeholder {
  color: var(--clr-placeholder);
  font-size: var(--fs-placeholder);

}


.contact-us-message-form-Message {
  height: 5rem;
  background: none;

}

.contact-us-message-form-button {
  background-color: var(--clr-bg-btn);
  margin: 2rem auto auto;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: var(--fs-regular);
  color: var(--clr-main-bg);


}



.contact-us-details-heading {
  margin: 2rem 9% 2rem 2rem;

}

.contact-us-details-main-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-contact-head);
  color: var(--clr-text);
  padding-bottom: 0.75rem;
  font-family: var(--ff-header);


}

.contact-us-send-msg-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 4rem;
  border-radius: 8px;
  background-color: var(--clr-placeholder);
}

.contact-us-details-sub-heading {
  color: var(--clr-contact-clm);
  margin-top: 2rem;
}

.contact-us-details-social-icons {
  background-image: linear-gradient(160deg, var(--primary-grad)50%, var(--secondary-grad));
  padding: 1rem;
  size: var(--icon-size);
  border-radius: 50%;
  color: var(--clr-main-bg);
}

.contact-us-details-info {
  display: flex;
  margin: 1.5rem 0 0 0;
  align-items: center !important;

}

.contact-us-details-topic {
  display: flex;
  margin-left: 0.5rem;
  align-items: center !important;

}

.contact-us-details-topic-value {
  margin-left: 0.5rem;
  color: var(--clr-contact-clm);

}

.contact-us-details-topic-head {
  font-weight: var(--fw-bold);
  align-items: center !important;
  font-family: var(--ff-header);


}

.contact-us-details-topic-address {
  display: block;
  color: var(--clr-contact-clm);

}

.contact-us-details-topic-head-address {
  display: inline;
  color: var(--clr-text);
}

.contact-us-message-form-option[placeholder],
[placeholder],
*[placeholder] {
  color: var(--clr-main-bg) !important;
  font-size: var(--fs-placeholder);

}